<ion-view view-title="Carbon Test Application">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Arduino connectivity</div>
      <div class="item item-body">
        <div>
          Not detected
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Phone informations</div>
      <div class="item item-body">
        <div>
          Movement status: {{ movement_label }}
        </div>
      </div>
      <div class="item item-body">
        <div>
          Speed: {{ speed }}
        </div>
      </div>
      <div class="item item-body">
        <div>
          Bluetooth status: {{ bluetooth_label }}
        </div>
      </div>
      <div class="item item-body" ng-repeat="device in devices">
        <div>
              [{{device.address}}] - {{device.class}} - {{device.name}}
        </div>
      </div>
      <div class="item item-body">
        <div>
          GPS: {{ lat }} | {{ lng }}
        </div>
      </div>
      <div class="item item-body">
        <div>
          Distance: {{ distance }} mètres
        </div>
      </div>
      <div class="item item-body">
        <div>
          Timestamp: {{ dateTime }}
        </div>
      </div>
      <div class="item item-body">
        <div>
          Last sync with Arduino : {{ lastSyncArduino }}
        </div>
      </div>
      <div class="item item-body">
        <div>
          Last sync with Server : {{ lastSyncServer }}
        </div>
      </div>
    </div>
    <button class="button bottom button-block button-light" ng-click="listBluetoothDevices()">
      Force sync with Arduino
    </button>
    <button class="button bottom button-block button-light" ng-click="scheduleSingleNotification()">
      Force sync with Server
    </button>
  </ion-content>
</ion-view>
